<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>欢迎使用笨鸽管理系统</title>
    <link rel="stylesheet" href="/static/css/main.css"/>
</head>
<body>
<div id="login-box">
    <h1>欢迎使用笨鸽管理系统</h1>
    <div>
        <img src="/static/images/computer.png">
    </div>
    <button>合作</button>
    <form action="/login.html">
    <button>登录</button>
    </form>
</div>
<div style="position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%)">
    <a href="https://beian.miit.gov.cn/" target="_blank" style="text-decoration:none;color: #363535;font-size: 12px">皖ICP备2021018240-1</a>
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=34010402703598" style="text-decoration:none;color: #363535;font-size: 12px;align-content: center">
        <img src="/static/images/备案图标.png" style="float:left;"/>
        <p>皖公网安备 34010402703598号</p>
    </a>
</div>
</body>
</html>
