<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pp.managesystem.dao.SysExtProptiesMapper">

    <select id="getByCompanyAndType" parameterType="java.lang.String" resultType="java.util.Map">
        select ep.*
        from sys_ext_propties ep
        left join sys_propties p
        on ep.propties_code = p.propties_code
        where ep.propties_code = #{proptiesCode} and p.propties_company_code = #{company}
    </select>

</mapper>
