<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pp.managesystem.dao.SysProptiesMapper">

    <select id="selectByCompany" parameterType="java.lang.String" resultType="com.pp.managesystem.entity.SysPropties">
        select *
        from sys_process
        where prc_company = #{company}
    </select>

</mapper>
