<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pp.managesystem.dao.SysProcessMapper">
  <resultMap id="BaseResultMap" type="com.pp.managesystem.entity.SysProcess">
    <id column="prc_id" jdbcType="INTEGER" property="prcId" />
    <result column="prc_code" jdbcType="VARCHAR" property="prcCode" />
    <result column="prc_a" jdbcType="VARCHAR" property="prcA" />
    <result column="prc_at" jdbcType="BIGINT" property="prcAt" />
    <result column="prc_ar" jdbcType="VARCHAR" property="prcAr" />
    <result column="prc_b" jdbcType="VARCHAR" property="prcB" />
    <result column="prc_bt" jdbcType="BIGINT" property="prcBt" />
    <result column="prc_br" jdbcType="VARCHAR" property="prcBr" />
    <result column="prc_c" jdbcType="VARCHAR" property="prcC" />
    <result column="prc_ct" jdbcType="BIGINT" property="prcCt" />
    <result column="prc_cr" jdbcType="VARCHAR" property="prcCr" />
    <result column="prc_d" jdbcType="VARCHAR" property="prcD" />
    <result column="prc_dt" jdbcType="BIGINT" property="prcDt" />
    <result column="prc_dr" jdbcType="VARCHAR" property="prcDr" />
    <result column="prc_e" jdbcType="VARCHAR" property="prcE" />
    <result column="prc_et" jdbcType="BIGINT" property="prcEt" />
    <result column="prc_fr" jdbcType="VARCHAR" property="prcFr" />
    <result column="prc_g" jdbcType="VARCHAR" property="prcG" />
    <result column="prc_gt" jdbcType="BIGINT" property="prcGt" />
    <result column="prc_hr" jdbcType="VARCHAR" property="prcHr" />
    <result column="prc_i" jdbcType="VARCHAR" property="prcI" />
    <result column="prc_it" jdbcType="BIGINT" property="prcIt" />
    <result column="prc_ir" jdbcType="VARCHAR" property="prcIr" />
    <result column="prc_j" jdbcType="VARCHAR" property="prcJ" />
    <result column="prc_jt" jdbcType="BIGINT" property="prcJt" />
    <result column="prc_jr" jdbcType="VARCHAR" property="prcJr" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    prc_id, prc_code, prc_a, prc_at, prc_ar, prc_b, prc_bt, prc_br, prc_c, prc_ct, prc_cr, 
    prc_d, prc_dt, prc_dr, prc_e, prc_et, prc_fr, prc_g, prc_gt, prc_hr, prc_i, prc_it, 
    prc_ir, prc_j, prc_jt, prc_jr
  </sql>
  <select id="selectByExample" parameterType="com.pp.managesystem.entity.SysProcessExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_process
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_process
    where prc_id = #{prcId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_process
    where prc_id = #{prcId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pp.managesystem.entity.SysProcessExample">
    delete from sys_process
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pp.managesystem.entity.SysProcess">
    insert into sys_process (prc_id, prc_code, prc_a, 
      prc_at, prc_ar, prc_b, 
      prc_bt, prc_br, prc_c, 
      prc_ct, prc_cr, prc_d, 
      prc_dt, prc_dr, prc_e, 
      prc_et, prc_fr, prc_g, 
      prc_gt, prc_hr, prc_i, 
      prc_it, prc_ir, prc_j, 
      prc_jt, prc_jr)
    values (#{prcId,jdbcType=INTEGER}, #{prcCode,jdbcType=VARCHAR}, #{prcA,jdbcType=VARCHAR}, 
      #{prcAt,jdbcType=BIGINT}, #{prcAr,jdbcType=VARCHAR}, #{prcB,jdbcType=VARCHAR}, 
      #{prcBt,jdbcType=BIGINT}, #{prcBr,jdbcType=VARCHAR}, #{prcC,jdbcType=VARCHAR}, 
      #{prcCt,jdbcType=BIGINT}, #{prcCr,jdbcType=VARCHAR}, #{prcD,jdbcType=VARCHAR}, 
      #{prcDt,jdbcType=BIGINT}, #{prcDr,jdbcType=VARCHAR}, #{prcE,jdbcType=VARCHAR}, 
      #{prcEt,jdbcType=BIGINT}, #{prcFr,jdbcType=VARCHAR}, #{prcG,jdbcType=VARCHAR}, 
      #{prcGt,jdbcType=BIGINT}, #{prcHr,jdbcType=VARCHAR}, #{prcI,jdbcType=VARCHAR}, 
      #{prcIt,jdbcType=BIGINT}, #{prcIr,jdbcType=VARCHAR}, #{prcJ,jdbcType=VARCHAR}, 
      #{prcJt,jdbcType=BIGINT}, #{prcJr,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pp.managesystem.entity.SysProcess">
    insert into sys_process
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prcId != null">
        prc_id,
      </if>
      <if test="prcCode != null">
        prc_code,
      </if>
      <if test="prcA != null">
        prc_a,
      </if>
      <if test="prcAt != null">
        prc_at,
      </if>
      <if test="prcAr != null">
        prc_ar,
      </if>
      <if test="prcB != null">
        prc_b,
      </if>
      <if test="prcBt != null">
        prc_bt,
      </if>
      <if test="prcBr != null">
        prc_br,
      </if>
      <if test="prcC != null">
        prc_c,
      </if>
      <if test="prcCt != null">
        prc_ct,
      </if>
      <if test="prcCr != null">
        prc_cr,
      </if>
      <if test="prcD != null">
        prc_d,
      </if>
      <if test="prcDt != null">
        prc_dt,
      </if>
      <if test="prcDr != null">
        prc_dr,
      </if>
      <if test="prcE != null">
        prc_e,
      </if>
      <if test="prcEt != null">
        prc_et,
      </if>
      <if test="prcFr != null">
        prc_fr,
      </if>
      <if test="prcG != null">
        prc_g,
      </if>
      <if test="prcGt != null">
        prc_gt,
      </if>
      <if test="prcHr != null">
        prc_hr,
      </if>
      <if test="prcI != null">
        prc_i,
      </if>
      <if test="prcIt != null">
        prc_it,
      </if>
      <if test="prcIr != null">
        prc_ir,
      </if>
      <if test="prcJ != null">
        prc_j,
      </if>
      <if test="prcJt != null">
        prc_jt,
      </if>
      <if test="prcJr != null">
        prc_jr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prcId != null">
        #{prcId,jdbcType=INTEGER},
      </if>
      <if test="prcCode != null">
        #{prcCode,jdbcType=VARCHAR},
      </if>
      <if test="prcA != null">
        #{prcA,jdbcType=VARCHAR},
      </if>
      <if test="prcAt != null">
        #{prcAt,jdbcType=BIGINT},
      </if>
      <if test="prcAr != null">
        #{prcAr,jdbcType=VARCHAR},
      </if>
      <if test="prcB != null">
        #{prcB,jdbcType=VARCHAR},
      </if>
      <if test="prcBt != null">
        #{prcBt,jdbcType=BIGINT},
      </if>
      <if test="prcBr != null">
        #{prcBr,jdbcType=VARCHAR},
      </if>
      <if test="prcC != null">
        #{prcC,jdbcType=VARCHAR},
      </if>
      <if test="prcCt != null">
        #{prcCt,jdbcType=BIGINT},
      </if>
      <if test="prcCr != null">
        #{prcCr,jdbcType=VARCHAR},
      </if>
      <if test="prcD != null">
        #{prcD,jdbcType=VARCHAR},
      </if>
      <if test="prcDt != null">
        #{prcDt,jdbcType=BIGINT},
      </if>
      <if test="prcDr != null">
        #{prcDr,jdbcType=VARCHAR},
      </if>
      <if test="prcE != null">
        #{prcE,jdbcType=VARCHAR},
      </if>
      <if test="prcEt != null">
        #{prcEt,jdbcType=BIGINT},
      </if>
      <if test="prcFr != null">
        #{prcFr,jdbcType=VARCHAR},
      </if>
      <if test="prcG != null">
        #{prcG,jdbcType=VARCHAR},
      </if>
      <if test="prcGt != null">
        #{prcGt,jdbcType=BIGINT},
      </if>
      <if test="prcHr != null">
        #{prcHr,jdbcType=VARCHAR},
      </if>
      <if test="prcI != null">
        #{prcI,jdbcType=VARCHAR},
      </if>
      <if test="prcIt != null">
        #{prcIt,jdbcType=BIGINT},
      </if>
      <if test="prcIr != null">
        #{prcIr,jdbcType=VARCHAR},
      </if>
      <if test="prcJ != null">
        #{prcJ,jdbcType=VARCHAR},
      </if>
      <if test="prcJt != null">
        #{prcJt,jdbcType=BIGINT},
      </if>
      <if test="prcJr != null">
        #{prcJr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pp.managesystem.entity.SysProcessExample" resultType="java.lang.Long">
    select count(*) from sys_process
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_process
    <set>
      <if test="record.prcId != null">
        prc_id = #{record.prcId,jdbcType=INTEGER},
      </if>
      <if test="record.prcCode != null">
        prc_code = #{record.prcCode,jdbcType=VARCHAR},
      </if>
      <if test="record.prcA != null">
        prc_a = #{record.prcA,jdbcType=VARCHAR},
      </if>
      <if test="record.prcAt != null">
        prc_at = #{record.prcAt,jdbcType=BIGINT},
      </if>
      <if test="record.prcAr != null">
        prc_ar = #{record.prcAr,jdbcType=VARCHAR},
      </if>
      <if test="record.prcB != null">
        prc_b = #{record.prcB,jdbcType=VARCHAR},
      </if>
      <if test="record.prcBt != null">
        prc_bt = #{record.prcBt,jdbcType=BIGINT},
      </if>
      <if test="record.prcBr != null">
        prc_br = #{record.prcBr,jdbcType=VARCHAR},
      </if>
      <if test="record.prcC != null">
        prc_c = #{record.prcC,jdbcType=VARCHAR},
      </if>
      <if test="record.prcCt != null">
        prc_ct = #{record.prcCt,jdbcType=BIGINT},
      </if>
      <if test="record.prcCr != null">
        prc_cr = #{record.prcCr,jdbcType=VARCHAR},
      </if>
      <if test="record.prcD != null">
        prc_d = #{record.prcD,jdbcType=VARCHAR},
      </if>
      <if test="record.prcDt != null">
        prc_dt = #{record.prcDt,jdbcType=BIGINT},
      </if>
      <if test="record.prcDr != null">
        prc_dr = #{record.prcDr,jdbcType=VARCHAR},
      </if>
      <if test="record.prcE != null">
        prc_e = #{record.prcE,jdbcType=VARCHAR},
      </if>
      <if test="record.prcEt != null">
        prc_et = #{record.prcEt,jdbcType=BIGINT},
      </if>
      <if test="record.prcFr != null">
        prc_fr = #{record.prcFr,jdbcType=VARCHAR},
      </if>
      <if test="record.prcG != null">
        prc_g = #{record.prcG,jdbcType=VARCHAR},
      </if>
      <if test="record.prcGt != null">
        prc_gt = #{record.prcGt,jdbcType=BIGINT},
      </if>
      <if test="record.prcHr != null">
        prc_hr = #{record.prcHr,jdbcType=VARCHAR},
      </if>
      <if test="record.prcI != null">
        prc_i = #{record.prcI,jdbcType=VARCHAR},
      </if>
      <if test="record.prcIt != null">
        prc_it = #{record.prcIt,jdbcType=BIGINT},
      </if>
      <if test="record.prcIr != null">
        prc_ir = #{record.prcIr,jdbcType=VARCHAR},
      </if>
      <if test="record.prcJ != null">
        prc_j = #{record.prcJ,jdbcType=VARCHAR},
      </if>
      <if test="record.prcJt != null">
        prc_jt = #{record.prcJt,jdbcType=BIGINT},
      </if>
      <if test="record.prcJr != null">
        prc_jr = #{record.prcJr,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_process
    set prc_id = #{record.prcId,jdbcType=INTEGER},
      prc_code = #{record.prcCode,jdbcType=VARCHAR},
      prc_a = #{record.prcA,jdbcType=VARCHAR},
      prc_at = #{record.prcAt,jdbcType=BIGINT},
      prc_ar = #{record.prcAr,jdbcType=VARCHAR},
      prc_b = #{record.prcB,jdbcType=VARCHAR},
      prc_bt = #{record.prcBt,jdbcType=BIGINT},
      prc_br = #{record.prcBr,jdbcType=VARCHAR},
      prc_c = #{record.prcC,jdbcType=VARCHAR},
      prc_ct = #{record.prcCt,jdbcType=BIGINT},
      prc_cr = #{record.prcCr,jdbcType=VARCHAR},
      prc_d = #{record.prcD,jdbcType=VARCHAR},
      prc_dt = #{record.prcDt,jdbcType=BIGINT},
      prc_dr = #{record.prcDr,jdbcType=VARCHAR},
      prc_e = #{record.prcE,jdbcType=VARCHAR},
      prc_et = #{record.prcEt,jdbcType=BIGINT},
      prc_fr = #{record.prcFr,jdbcType=VARCHAR},
      prc_g = #{record.prcG,jdbcType=VARCHAR},
      prc_gt = #{record.prcGt,jdbcType=BIGINT},
      prc_hr = #{record.prcHr,jdbcType=VARCHAR},
      prc_i = #{record.prcI,jdbcType=VARCHAR},
      prc_it = #{record.prcIt,jdbcType=BIGINT},
      prc_ir = #{record.prcIr,jdbcType=VARCHAR},
      prc_j = #{record.prcJ,jdbcType=VARCHAR},
      prc_jt = #{record.prcJt,jdbcType=BIGINT},
      prc_jr = #{record.prcJr,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pp.managesystem.entity.SysProcess">
    update sys_process
    <set>
      <if test="prcCode != null">
        prc_code = #{prcCode,jdbcType=VARCHAR},
      </if>
      <if test="prcA != null">
        prc_a = #{prcA,jdbcType=VARCHAR},
      </if>
      <if test="prcAt != null">
        prc_at = #{prcAt,jdbcType=BIGINT},
      </if>
      <if test="prcAr != null">
        prc_ar = #{prcAr,jdbcType=VARCHAR},
      </if>
      <if test="prcB != null">
        prc_b = #{prcB,jdbcType=VARCHAR},
      </if>
      <if test="prcBt != null">
        prc_bt = #{prcBt,jdbcType=BIGINT},
      </if>
      <if test="prcBr != null">
        prc_br = #{prcBr,jdbcType=VARCHAR},
      </if>
      <if test="prcC != null">
        prc_c = #{prcC,jdbcType=VARCHAR},
      </if>
      <if test="prcCt != null">
        prc_ct = #{prcCt,jdbcType=BIGINT},
      </if>
      <if test="prcCr != null">
        prc_cr = #{prcCr,jdbcType=VARCHAR},
      </if>
      <if test="prcD != null">
        prc_d = #{prcD,jdbcType=VARCHAR},
      </if>
      <if test="prcDt != null">
        prc_dt = #{prcDt,jdbcType=BIGINT},
      </if>
      <if test="prcDr != null">
        prc_dr = #{prcDr,jdbcType=VARCHAR},
      </if>
      <if test="prcE != null">
        prc_e = #{prcE,jdbcType=VARCHAR},
      </if>
      <if test="prcEt != null">
        prc_et = #{prcEt,jdbcType=BIGINT},
      </if>
      <if test="prcFr != null">
        prc_fr = #{prcFr,jdbcType=VARCHAR},
      </if>
      <if test="prcG != null">
        prc_g = #{prcG,jdbcType=VARCHAR},
      </if>
      <if test="prcGt != null">
        prc_gt = #{prcGt,jdbcType=BIGINT},
      </if>
      <if test="prcHr != null">
        prc_hr = #{prcHr,jdbcType=VARCHAR},
      </if>
      <if test="prcI != null">
        prc_i = #{prcI,jdbcType=VARCHAR},
      </if>
      <if test="prcIt != null">
        prc_it = #{prcIt,jdbcType=BIGINT},
      </if>
      <if test="prcIr != null">
        prc_ir = #{prcIr,jdbcType=VARCHAR},
      </if>
      <if test="prcJ != null">
        prc_j = #{prcJ,jdbcType=VARCHAR},
      </if>
      <if test="prcJt != null">
        prc_jt = #{prcJt,jdbcType=BIGINT},
      </if>
      <if test="prcJr != null">
        prc_jr = #{prcJr,jdbcType=VARCHAR},
      </if>
    </set>
    where prc_id = #{prcId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pp.managesystem.entity.SysProcess">
    update sys_process
    set prc_code = #{prcCode,jdbcType=VARCHAR},
      prc_a = #{prcA,jdbcType=VARCHAR},
      prc_at = #{prcAt,jdbcType=BIGINT},
      prc_ar = #{prcAr,jdbcType=VARCHAR},
      prc_b = #{prcB,jdbcType=VARCHAR},
      prc_bt = #{prcBt,jdbcType=BIGINT},
      prc_br = #{prcBr,jdbcType=VARCHAR},
      prc_c = #{prcC,jdbcType=VARCHAR},
      prc_ct = #{prcCt,jdbcType=BIGINT},
      prc_cr = #{prcCr,jdbcType=VARCHAR},
      prc_d = #{prcD,jdbcType=VARCHAR},
      prc_dt = #{prcDt,jdbcType=BIGINT},
      prc_dr = #{prcDr,jdbcType=VARCHAR},
      prc_e = #{prcE,jdbcType=VARCHAR},
      prc_et = #{prcEt,jdbcType=BIGINT},
      prc_fr = #{prcFr,jdbcType=VARCHAR},
      prc_g = #{prcG,jdbcType=VARCHAR},
      prc_gt = #{prcGt,jdbcType=BIGINT},
      prc_hr = #{prcHr,jdbcType=VARCHAR},
      prc_i = #{prcI,jdbcType=VARCHAR},
      prc_it = #{prcIt,jdbcType=BIGINT},
      prc_ir = #{prcIr,jdbcType=VARCHAR},
      prc_j = #{prcJ,jdbcType=VARCHAR},
      prc_jt = #{prcJt,jdbcType=BIGINT},
      prc_jr = #{prcJr,jdbcType=VARCHAR}
    where prc_id = #{prcId,jdbcType=INTEGER}
  </update>
</mapper>