<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pp.managesystem.dao.SysStyleMapper">
  <resultMap id="BaseResultMap" type="com.pp.managesystem.entity.SysStyle">
    <id column="st_id" jdbcType="INTEGER" property="stId" />
    <result column="st_name" jdbcType="VARCHAR" property="stName" />
    <result column="st_code" jdbcType="VARCHAR" property="stCode" />
    <result column="st_img" jdbcType="VARCHAR" property="stImg" />
    <result column="st_company" jdbcType="VARCHAR" property="stCompany" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    st_id, st_name, st_code, st_img, st_company
  </sql>
<!--查询公司的样式-->
  <select id="selectByCompany" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_style
    where st_company = #{company}
  </select>

  <select id="selectByExample" parameterType="com.pp.managesystem.entity.SysStyleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_style
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_style
    where st_id = #{stId,jdbcType=INTEGER}
  </select>

<!-- 根据名称和公司查询 -->
  <select id="selectByNameAndCompany" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_style
    where st_name = #{name} and st_company = #{company}
  </select>
  <!--  查询当日最大编号-->
  <select id="selectMaxCode" parameterType="java.lang.String" resultType="java.lang.String">
    select max(st_code) from sys_style
    where st_code like concat(#{preCode},'%')
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_style
    where st_id = #{stId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pp.managesystem.entity.SysStyleExample">
    delete from sys_style
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pp.managesystem.entity.SysStyle">
    insert into sys_style (st_id, st_name, st_code, st_img, st_company
      )
    values (#{stId,jdbcType=INTEGER}, #{stName,jdbcType=VARCHAR}, #{stCode,jdbcType=VARCHAR}, #{stImg,jdbcType=VARCHAR}, #{stCompany,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pp.managesystem.entity.SysStyle">
    insert into sys_style
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stId != null">
        st_id,
      </if>
      <if test="stName != null">
        st_name,
      </if>
      <if test="stCode != null">
        st_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stId != null">
        #{stId,jdbcType=INTEGER},
      </if>
      <if test="stName != null">
        #{stName,jdbcType=VARCHAR},
      </if>
      <if test="stCode != null">
        #{stCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pp.managesystem.entity.SysStyleExample" resultType="java.lang.Long">
    select count(*) from sys_style
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_style
    <set>
      <if test="record.stId != null">
        st_id = #{record.stId,jdbcType=INTEGER},
      </if>
      <if test="record.stName != null">
        st_name = #{record.stName,jdbcType=VARCHAR},
      </if>
      <if test="record.stCode != null">
        st_code = #{record.stCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_style
    set st_id = #{record.stId,jdbcType=INTEGER},
      st_name = #{record.stName,jdbcType=VARCHAR},
      st_code = #{record.stCode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pp.managesystem.entity.SysStyle">
    update sys_style
    <set>
      <if test="stName != null">
        st_name = #{stName,jdbcType=VARCHAR},
      </if>
      <if test="stCode != null">
        st_code = #{stCode,jdbcType=VARCHAR},
      </if>
      <if test="stImg != null">
        st_img = #{stImg,jdbcType=VARCHAR},
      </if>
      <if test="stCompany != null">
        st_company = #{stCompany,jdbcType=VARCHAR},
      </if>
    </set>
    where st_id = #{stId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pp.managesystem.entity.SysStyle">
    update sys_style
    set st_name = #{stName,jdbcType=VARCHAR},
      st_code = #{stCode,jdbcType=VARCHAR}
    where st_id = #{stId,jdbcType=INTEGER}
  </update>
</mapper>