<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pp.managesystem.dao.SysShowTableMapper">
  <resultMap id="BaseResultMap" type="com.pp.managesystem.entity.SysShowTable">
    <id column="st_id" jdbcType="INTEGER" property="stId" />
    <result column="st_table" jdbcType="INTEGER" property="stTable" />
    <result column="st_column" jdbcType="VARCHAR" property="stColumn" />
    <result column="st_name" jdbcType="VARCHAR" property="stName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    st_id, st_table, st_column, st_name
  </sql>
  <select id="selectByExample" parameterType="com.pp.managesystem.entity.SysShowTableExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_show_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_show_table
    where st_id = #{stId,jdbcType=INTEGER}
  </select>
  <select id="selectByTableId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_show_table
    where st_table = #{stTable,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_show_table
    where st_id = #{stId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pp.managesystem.entity.SysShowTableExample">
    delete from sys_show_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pp.managesystem.entity.SysShowTable">
    insert into sys_show_table (st_id, st_table, st_column, 
      st_name)
    values (#{stId,jdbcType=INTEGER}, #{stTable,jdbcType=INTEGER}, #{stColumn,jdbcType=VARCHAR}, 
      #{stName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pp.managesystem.entity.SysShowTable">
    insert into sys_show_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stId != null">
        st_id,
      </if>
      <if test="stTable != null">
        st_table,
      </if>
      <if test="stColumn != null">
        st_column,
      </if>
      <if test="stName != null">
        st_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stId != null">
        #{stId,jdbcType=INTEGER},
      </if>
      <if test="stTable != null">
        #{stTable,jdbcType=INTEGER},
      </if>
      <if test="stColumn != null">
        #{stColumn,jdbcType=VARCHAR},
      </if>
      <if test="stName != null">
        #{stName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pp.managesystem.entity.SysShowTableExample" resultType="java.lang.Long">
    select count(*) from sys_show_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_show_table
    <set>
      <if test="record.stId != null">
        st_id = #{record.stId,jdbcType=INTEGER},
      </if>
      <if test="record.stTable != null">
        st_table = #{record.stTable,jdbcType=INTEGER},
      </if>
      <if test="record.stColumn != null">
        st_column = #{record.stColumn,jdbcType=VARCHAR},
      </if>
      <if test="record.stName != null">
        st_name = #{record.stName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_show_table
    set st_id = #{record.stId,jdbcType=INTEGER},
      st_table = #{record.stTable,jdbcType=INTEGER},
      st_column = #{record.stColumn,jdbcType=VARCHAR},
      st_name = #{record.stName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pp.managesystem.entity.SysShowTable">
    update sys_show_table
    <set>
      <if test="stTable != null">
        st_table = #{stTable,jdbcType=INTEGER},
      </if>
      <if test="stColumn != null">
        st_column = #{stColumn,jdbcType=VARCHAR},
      </if>
      <if test="stName != null">
        st_name = #{stName,jdbcType=VARCHAR},
      </if>
    </set>
    where st_id = #{stId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pp.managesystem.entity.SysShowTable">
    update sys_show_table
    set st_table = #{stTable,jdbcType=INTEGER},
      st_column = #{stColumn,jdbcType=VARCHAR},
      st_name = #{stName,jdbcType=VARCHAR}
    where st_id = #{stId,jdbcType=INTEGER}
  </update>

  <select id="selectByTable" resultType="java.util.Map" parameterType="java.lang.String">
    select column_name,data_type,COLUMN_COMMENT
    from information_schema.columns
    where table_schema = 'manage_sys' AND table_name = #{sys_table_name};
  </select>
</mapper>